
body {
  background-color: #d0e4fe;
  text-align: center;
}

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  color: orange;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}

#doge-image img {
  height: 140px;
  margin-top: 20px;
}
