<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
      <% include ../helpers/navbar %>
    <h1>Zoe's Web App</h1>
  </div>

  <input class="search" type="text" placeholder="Enter a city name: ">
  <button type="button" onClick="searchWeather()">Search</button>

  <p id="demo">
    This is me testing out a lil html file
  </p>

  <div class="city">

  </div>

  <div class="temp">
    
  </div>

  <div class="error-message"></div>

  <!-- <button class="btn btn-default" type="button" onclick="myFunction()">
    Try it
  </button>

  <div id="doge-image"/> -->

</body>

</html>